@import "../../styles/variables.scss";
.root {
  margin-bottom: 50px;
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid $color;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: $color;
      font-weight: 800;

      &:hover, :active {
        background-color: $primary-color;
        color: $primary-reverse;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $primary-color;
        color: $primary-reverse;
      }
    }
  }
} 