@import "../variables";

.button {
	display: inline-block;
	background-color: $background;
	border-radius: 30px;
	padding: 10px 20px;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
	transition: background-color $duration ease-in-out,
	border-color $duration ease-in-out;
	border: 1px solid;
	@include noselect();

	&,
	span {
		color: $color;
	}

	i,
	span,
	path,
	svg {
		transition: all $duration ease-in-out;
	}

	&:hover {
		background-color: $primary-color;
		&,
		i,
		span,
		svg,
		path {
			color: $primary-reverse;
		}
	}

	&:active {
		transform: translateY(1px);
	}

	&--circle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		min-width: 32px;
		padding: 0;
		border-width: 2px;
	}

	&--black {
		background-color: $primary-color;
		span{
			color: $primary-reverse;
		}
		&:hover,
		&:active {
			background-color: $primary-reverse;
			border:1px solid $primary-color;
			
			span{
			color: $color;
		}

		}
	}

	&--outline {
		border-color: $color;
		&,
		span {
			color: $color;
		}

		svg {
			path {
				fill: $color;
			}
		}

		&:hover {
			background-color: $background;

			&,
			span {
				color: $primary-color;
			}

			svg {
				path {
					color: $primary-reverse;
				}
			}
		}

		&:active {
			background-color: $background;
		}
	}

	&__delimiter {
		width: 1px;
		height: 25px;
		background-color: $primary-color;
		margin-left: 14px;
		margin-right: 14px;
	}

	&--add {
		svg {
			margin-right: 2px;
			path{
				fill:$primary-color
			}
		}

		span {
			font-weight: 600;
			font-size: 16px;
		}

		&:hover {
			svg {
			path{
				fill:$primary-reverse
			}
		}
		}
	}

	&--cart {
		z-index: 40;
		background-color: $background;
		border-radius: 30px;
		min-width: 100px;
		text-align: center;
		cursor: pointer;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
		display: flex;
		align-items: center;
		line-height: 23px;
		padding: 15px 18px;
		border: 1px solid transparent;
		&:hover {
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8) inset;
			
		}
		svg {
			margin-right: 8px;
			margin-bottom: 1px;
			path{
				stroke: $primary-color;
			}
		}

		span {
			font-weight: 600;
			font-size: 16px;
		}
	}
}
