@import '../variables';

.categories {
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      background: var(--background-color);
      color: var(--text-color);
      @include noselect();

      &:hover {
        background: darken(#f9f9f9,25%);
      }


      &.active {
        background: #ffffff;
        color: #18191a;
        border-bottom: 1px solid #18191aaf ;
        box-shadow: 0 5px 5px #18191a81;
      }
    }
  }
}