@import '../variables';

.categories {
  ul {
    display: flex;

    li {
      
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      background: $background;
      box-shadow: 0 5px 5px #02020281;
      border-bottom: 2px solid transparent;
      color: $color;
      @include noselect();

      &:hover {
        border-bottom: 2px solid $color;
        
      
        
      }


      &.active {
        background: $primary-color;
        color:$primary-reverse;
      }
    }
  }
}