@import '../../styles/variables.scss';

.pizza-block {
  width: 280px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin: 0 auto 65px;
  

  &-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__image {
    
    max-width: 250px;
    margin-bottom: 5px;
    border-radius: 4069      \%;
  }

  &__title {
    font-size: calcFluidFontSize(18, 20, 380, 1920);
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background:$background;
    color: $color;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1 1 auto;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        background-color: $primary-reverse;
        border-radius: 5px;
        margin: 0 2px;
        color: $color;
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: calcFluidFontSize(12, 14, 380, 1728);
        @include noselect();

        &.active {
          background-color: $primary-color;
          border-radius: 5px;
          cursor: auto;
          color: $primary-reverse;
          border-bottom: 1px solid #18191aaf ;
          box-shadow: 0 3px 1px #18191a81;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}