@import '../../styles/variables.scss';

.root {
  position: relative;
  order: 1;
 
}

.input {
  border: 1px solid $primary-color;
  padding: 10px 20px 10px 40px;
  border-radius: 10px;
  font-size: calcFluidFontSize(14, 18, 380, 1728);
  &:focus {
    border: 2px solid rgba(0, 0, 0, 0.541);
  }

  @media screen and (max-width: 720px ) {
    margin: 20px 0;
  }
}


.icon {
  
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 3%;
  top: 25%;
  @media screen and (max-width: 720px ) {
    top: 35%
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  
  cursor: pointer;
  right: 3%;
  top: 30%;
  @media screen and (max-width: 720px ) {
    top: 40%
  }
  &:hover {
    opacity: 0.8;
  }
}